<template name="availableSubmit">
	<h3>Add a new item</h3>
	<form class="main form">
		<div class="form-group">
			<label class="control-label" for="itemName">Item</label>
			<div class="controls">
				<input name="itemName" id="itemName" type="text" value="" placeholder="Enter the type of item you are giving away" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="itemDescription">Item Description</label>
			<div class="controls">
				<input name="itemDescription" id="itemDescription" type="text" value="" placeholder="Describe the item you are giving away" class="form-control"/>
			</div>
		</div>
		<input type="submit" value="Submit" class="btn btn-primary">
	</form>
</template>